span.label-input {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.error-holder {
    height: 15px;
    color: darkred;
    padding-left: 6px;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invalid-input {
    border-color: darkred;
}

.invalid-input:hover {
    border-color: darkred;
}


//FIXME: move to styles.scss
:host ::ng-deep .p-button {
    border-radius: 0; 
}

:host ::ng-deep .p-inputtext {
    border-radius: 0;
}
