<div class="label-input">
    <label [class.label-height]="keepLabelSpace" [for]="inputId"> {{ labelKey | translate}} </label>
    <div class="stretch-content" [ngSwitch]="true">
        <input
            pInputText
            [id]="inputId"
            [placeholder]="placeholder | translate"
            [class.invalid-input]=" control.invalid && invalidButTouched"
            *ngSwitchCase="type == 'text' || type == 'password'"
            [type]="type"
            (input)="onChangeCallback($any($event.target).value)"
            (focus)="markAsTouched()"
            (blur)="onBlur()" />
        <p *ngSwitchCaseDefault>
            Not implemented
        </p>
    </div>

    <div class="error-holder">
        <small *ngIf="invalidButTouched">
            {{error}}
        </small>
    </div>
    
</div>