.page {
    height: 100vh;
    width: 100vw;
    background-color: #475783;
}

.card {
    margin: 20px 0px 0px 20px;
    height: calc(100vh - 40px);
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 6px;
    align-items: stretch;
}

.grid-fill-row {
    grid-column: 1 / -1;
}

.form-title {
    text-align: center;
}

.actions {
    grid-column: 1 / -1;
    text-align: center;
}